{% extends 'hc/base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-user"></i> {{ paciente.apellido }}, {{ paciente.nombre }}
            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                Datos de filiación
            </button>
            <a class="btn btn-default" href="{% url 'paciente_editar' pk=paciente.pk %}"><i class="glyphicon glyphicon-pencil"></i></a>
            <a class="btn btn-default" href="{% url 'paciente_eliminar' pk=paciente.pk %}"><i class="glyphicon glyphicon-remove"></i></a>
        </h1>
        <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Datos de filiación</h4>
                        </div>
                        <div class="modal-body">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>Apellido y nombre</td><td>{{ paciente.apellido }}, {{ paciente.nombre }}</td></tr>
                                        <tr><td>Obra social</td><td>{{ paciente.codigo_obra_social|default:"" }} - {{ paciente.obra_social|default:"" }}</td></tr>
                                        <tr><td>Documento</td><td>{{ paciente.documento }}</td></tr>
                                        <tr><td>Fecha de nacimiento</td><td>{{ paciente.fecha_nacimiento|date:"d/m/Y"|default:"-"}}</td></tr>
                                        <tr><td>Edad</td><td>{{ paciente.edad|default:"-"}}</td></tr>
                                        <tr><td>Lugar de nacimiento</td><td>{{ paciente.lugar_nacimiento|default:"-"}}</td></tr>
                                        <tr><td>Estado civil</td><td>{{ paciente.estado_civil|default:"-" }}</td></tr>
                                        <tr><td>Género</td><td>{{ paciente.sexo|default:"-" }}</td></tr>
                                        <tr><td>Ocupación</td><td>{{ paciente.ocupacion|default:"-" }}</td></tr>
                                        <tr><td>Domicilio</td><td>{{ paciente.domicilio|default:"-" }}</td></tr>
                                        <tr><td>Teléfono</td><td> {{ paciente.telefono|default:"-" }}</td></tr>
                                        <tr><td>E-mail</td><td>{{ paciente.email|default:"-" }}</td></tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading"> Nueva Consulta</div>
            <div class="panel-body">
                <form method="POST" role="form">{% csrf_token %}
                    {{ form_consulta.as_p }}
                    <button type="submit" class="btn btn-default" name='nueva_consulta'>Guardar Consulta</button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading"> Cargar Antecedentes </div>
            <div class="panel-body">
                <form method="POST" role="form">{% csrf_token %}
                    {{ form_historico_antecedente.as_p }}
                    <button type="submit" class="btn btn-default" name='nuevo_antecedente'>Guardar Antecedente</button>
                </form>
            </div>
        </div>
            <div class="panel panel-info">
                {% for historico in paciente.historico_set.all %}
                        {% ifchanged historico.antecedente.tipo %}
                            <div class="panel-heading"> {{historico.antecedente.tipo}} </div>
                        {% endifchanged %}
                        <ul>
                            <li>{{historico.antecedente.texto}}: {{historico.texto}}</li>
                        </ul>
                {% endfor %}
            </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading"> <h3 class="panel-title"><i class="glyphicon glyphicon-th-list"></i> Consultas previas</h3> </div>
            <!-- .panel-heading -->
            <div class="panel-body">


                <div class="panel-group" id="accordion">
                    {% for consulta in paciente.consultas.all %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}"><i class="glyphicon glyphicon-expand"></i> {{consulta.fecha|date:"SHORT_DATE_FORMAT"}}</a>
                                </h4>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{consulta.entrada}}
                                </div>
                                <div class="panel-body">
                                    <ul class="list-inline">
                                        {% for adjunto in consulta.adjuntos.all %}
                                            <li><a href="{{ adjunto.archivo.url }}"><i class="glyphicon glyphicon-file"></i> {{adjunto.filename}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No hay consultas :(</p>
                    {% endfor %}
                </div>
            </div>
            <!-- .panel-body -->
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading">Estudios / Laboratorios </div>
                <div class="panel-body">
                    <form method="POST" role="form">{% csrf_token %}
                        {{ form_resultado_estudio.as_p }}
                        <button type="submit" class="btn btn-default" name='nuevo_resultado_estudio'>Crear estudio</button>
                    </form>

                    <div class="panel-group" id="accordion">
                        {% for resultado in paciente.resultado_set.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#estudio{{ forloop.counter }}">
                                            <i class="glyphicon glyphicon-file"></i> {{resultado.fecha|date:"SHORT_DATE_FORMAT"}} - {{resultado.estudio}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="estudio{{ forloop.counter }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th colspan="2"><i class="fa fa-bar-chart-o fa-fw"></i> {{resultado.lugar}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for valor in resultado.valor_set.all %}
                                                   <tr>
                                                       <th>{{valor.parametro.texto}}</th>
                                                       <td>{{valor.texto}}</td>
                                                   </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <a href="{% url 'nuevo_valor' pk_resultado=resultado.pk pk_estudio=resultado.estudio.pk %}" role="button" class="btn btn-outline btn-primary btn-sm">
                                            <i class="glyphicon glyphicon-plus"></i> NUEVO VALOR
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>No hay estudios :(</p>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
