{% extends 'hc/base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Datos del paciente</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">
                <i class="fa fa-fw fa-user"></i>{{ paciente.apellido }}, {{ paciente.nombre }} <a class="btn btn-default" href="{% url 'paciente_editar' pk=paciente.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h3>
            </div>
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>Documento</td><td>{{ paciente.documento }}</td></tr>
                                        <tr><td>Fecha de nacimiento</td><td>{{ paciente.fecha_nacimiento }}</td></tr>
                                        <tr><td>Nacionalidad</td><td>{{ paciente.nacionalidad }}</td></tr>
                                        <tr><td>Estado civil</td><td>{{ paciente.estado_civil }}</td></tr>
                                        <tr><td>Género</td><td>{{ paciente.sexo }}</td></tr>
                                        <tr><td>Ocupación</td><td>{{ paciente.ocupacion }}</td></tr>
                                        <tr><td>Domicilio</td><td>{{ paciente.domicilio }}</td></tr>
                                        <tr><td>Teléfono</td><td> {{ paciente.telefono }}</td></tr>
                                        <tr><td>Obra social</td><td>{{ paciente.obra_social }}</td></tr>
                                        <tr><td>E-mail</td><td>{{ paciente.email }}</td></tr>
                                    </tbody>
                                </table>
                                <div class="text-left">
                                    <a href="#">Ver consultas <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
</div>
{% endblock %}
