{% extends 'hc/base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Datos del paciente</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-fw fa-user"></i> {{ paciente.apellido }}, {{ paciente.nombre }}
                    <a class="btn btn-default" href="{% url 'paciente_editar' pk=paciente.pk %}"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="btn btn-default" href="{% url 'paciente_eliminar' pk=paciente.pk %}"><i class="glyphicon glyphicon-remove"></i></a>
                </h3>
            </div>
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>Documento</td><td>{{ paciente.documento }}</td></tr>
                                        <tr><td>Fecha de nacimiento</td><td>{{ paciente.fecha_nacimiento }}</td></tr>
                                        <tr><td>Nacionalidad</td><td>{{ paciente.nacionalidad }}</td></tr>
                                        <tr><td>Estado civil</td><td>{{ paciente.estado_civil }}</td></tr>
                                        <tr><td>Género</td><td>{{ paciente.sexo }}</td></tr>
                                        <tr><td>Ocupación</td><td>{{ paciente.ocupacion }}</td></tr>
                                        <tr><td>Domicilio</td><td>{{ paciente.domicilio }}</td></tr>
                                        <tr><td>Teléfono</td><td> {{ paciente.telefono }}</td></tr>
                                        <tr><td>Obra social</td><td>{{ paciente.obra_social }}</td></tr>
                                        <tr><td>E-mail</td><td>{{ paciente.email }}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="panel panel-info">
                                <div class="panel-heading"> <h3 class="panel-title"><i class="glyphicon glyphicon-th-list"></i> Consultas</h3> </div>
                                <!-- .panel-heading -->
                                <div class="panel-body">
                                    <div class="panel-group" id="accordion">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse0"><i class="glyphicon glyphicon-plus"></i> Nueva consulta</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse0" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <form method="POST" class="post-form">{% csrf_token %}
                                                            {{ form.as_p }}
                                                            <button type="submit"class="btn btn-default">Guardar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% for consulta in paciente.consultas.all %}
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}"><i class="glyphicon glyphicon-expand"></i> {{consulta.fecha}}</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {{consulta.entrada}}
                                                    </div>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <p>No hay consultas :(</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- .panel-body -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
        </div>
</div>
{% endblock %}
