{% extends 'hc/base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Listado de Pacientes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered table-hover dataTable dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" style="width: 40px;">#</th>
                                            <th class="sorting" style="width: 300px;">Apellido, Nombre</th>
                                            <th class="sorting" style="width: 200px;">Obra Social</th>
                                            <th class="sorting" style="width: 140px;">Edad</th>
                                            <th class="sorting" style="width: 251px;">Documento</th>
                                            <th class="sorting" style="width: 188px;">Teléfono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for paciente in pacientes %}
                                            <tr class="gradeA odd" role="row">
                                                <td>{{ paciente.id }}</td>
                                                <td><a href="{% url 'hc_consultas' pk=paciente.pk %}">{{ paciente.apellido }}, {{ paciente.nombre }}</a></td>
                                                <td>{{ paciente.codigo_obra_social }} - {{ paciente.obra_social }}</td>
                                                <td>{{ paciente.edad|default:"-" }}</td>
                                                <td>{{ paciente.documento|default:"-" }}</td>
                                                <td>{{ paciente.telefono|default:"-" }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}
