{% extends 'hc/base.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Valor de estudio/laboratorio</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading"><b>{{ estudio.texto }} | {{ resultado.fecha|date:"SHORT_DATE_FORMAT" }} | {{ resultado.paciente }}</b></div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <form method="POST" role="form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-default">Guardar</button>
                    </form>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th colspan="2"><i class="fa fa-bar-chart-o fa-fw"></i> {{resultado.lugar}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for valor in resultado.valor_set.all %}
                               <tr>
                                   <th>{{valor.parametro.texto}}</th>
                                   <td>{{valor.texto}}</td>
                               </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
